pandas
numpy
scikit-learn
xgboost
lightgbm
ta
ccxt
schedule
optuna
shap
torch
pyarrow
hmmlearn
seaborn
jupyter
ipykernel
websockets

# Dev / Compliance
black
flake8
isort
mypy
pytest
pytest-cov
mlflow
arch
statsmodels
